*{
    margin: 0;
    padding: 0;
}

body {
}

header {
    background-color: black;
    color: white;
}

main {
    background-color: lightgray;
    padding-bottom: 80px;
    padding-top: 40px;
}

footer {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}







/* classes */

/* cabecalho */
#cabecalho {
    display: grid;
    grid-template-columns: (1fr,2fr,2fr);
}

.barra-home {
    grid-column: 3;
    grid-row: 1;
    margin-left: 25%;
    margin-top: 30px;
    display: flex;
}

.itens-barra-home {
    text-decoration: none;
    color: #009f32;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    list-style: none;
    margin-left: 30px;
    font-size: 18px;
}

.logo {
    margin-bottom: 20px;
    width: 100px;
    height: 70px;
}

.div-logo {
    margin-top: 20px;
    grid-row: 1/3;
    grid-column: 1;
    margin-left: 50%;
}

#logoutButton {
    background-color: #009f32; /* Defina a cor desejada para o botão de logout */
    color: #fff; /* Defina a cor do texto no botão de logout */
    font-size: 18px; /* Defina o tamanho da fonte do botão de logout */
    padding: 10px 20px; /* Ajuste o preenchimento interno do botão de logout */
    vertical-align: middle;
    
  }
  
  #accountLink {
    color: #009f32; /* Defina a cor desejada para o link "Minha Conta" */
    margin-top: 400%;
    font-size: 20px; 
    text-decoration: none; /* Remova a linha de baixo do link */
    margin-right: 10px; 
    vertical-align: middle;
    padding-top: 10px;
    margin-bottom: 0px
  }
  
  #loginLi  {
    margin-right: 10px; /* Ajuste a margem direita para alinhar com os outros elementos */
    vertical-align: middle;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    
  }
  
/* fim cabecalho */


/* main */
#banner-curso {
    width: 95%;
    height: 200px;
    margin-left: 2.5%;
}

#div-banner {

}

#aulas-do-curso {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
    margin-top: 2%;
    align-items: stretch;
}

#div-thumbnail {
    flex: 1 1 20%;
    margin-top: 3%;
}

#thumbnail {
    height: 180px;
}

.ancora-aulas {
    text-decoration: none;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#div-thumbnail h6 {
    text-align: center;
}

.imagem-texto {
    max-width: min-content;
}

/* fim main */


/* footer */
.redes-sociais-rodape {
    grid-column: 1;
    margin-left: 45%;
}

.itens-rodape {
    margin-top: 5%;
    width: fit-content;
    font-size: 14px;
}

.links-rodape {
    grid-column: 2;
    margin-left: 5%;
}

.copyright-rodape {
    grid-column: 1/3;
    width: fit-content;
    margin-left: 45%;
    font-size: 10px;
    margin-top: 5%;
}

.fa-brands {
    margin-left: 5%;
    margin-top: 20%;
}

.conteudo-itens-rodape {
    margin-top: 4%;
}

.texto-itens-rodape {
    text-decoration: none;
    color: white;
    display: flex;
}

.ancoras {
    text-decoration: none;
    color: white;
    
}

.links-politicas a {
    margin-left: 10%;
}

.links-politicas a :first-child {
    width: max-content;
}

.links-politicas {
    display: flex;
    margin-top: 5%;
}

.titulo-links {
    text-align: center;
    width: 300px;
    
}
    /* fim footer */