<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/aulas/style_pagina_aula.css">
    <link rel="stylesheet" href="/aulas/style_midia_queries_pagina_aula.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-blahblahblah" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width" , initial-scale="1">
    <title>Site Compras</title>

    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">

    <!-- código inclusáo do bootstrap no site -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- fim código inclusáo do bootstrap no site -->

    <!-- código para incluir o FontAwesome no site -->
    <script src="https://kit.fontawesome.com/f2c736aaab.js" crossorigin="anonymous"></script>
    <!-- fim código para incluir o FontAwesome no site -->

    <script defer src="script_pagina_aula.js"></script>
    <script src="jquery-3.7.0.min.js"></script>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
        </script>


    <header>
        <section id="secao-responder">
            <div id="div-responder">
                <h2>Responder Pergunta</h2>
                <form id="area-responder">
                    <div id="resposta-com-botao">
                        <input type="text" class="form-control" id="input-resposta" required
                            placeholder="Digite sua resposta">
                        <button type="button" id="botao-enviar-resposta" class="btn btn-primary">Enviar</button>
                    </div>
                    <button type="button" id="botao-voltar-resposta" class="btn btn-primary">Voltar</button>
                </form>
            </div>
        </section>

        <div id="cabecalho">
            <nav class="barra-home">
                <div id="header">
                    <ul class="menu">
                        <li id="loginLi"><a href="/login" class="itens-barra-home">Login/Cadastro</a></li>
                        <li id="accountLi" style="display: none;"><a id="accountLink" href='/montar-curso'><i class="fas fa-user"></i> Monte seu Curso</a></li>
                        <li id="logoutLi" style="display: none;"><button id="logoutButton"
                                onclick="logout()">Logout</button></li>
                    </ul>
                </div>
            </nav>

            <nav class="div-logo">
                <a href="/home"><img class="logo" src="/images/logo.png" alt="logo"></a>
            </nav>
        </div>
    </header>


    <main>
        <nav id="div-aula">
                <div>
                    <a href="/curso?id_curso=$aula.getIdCurso()" class="ancora-titulo-curso">
                        <h3>$curso.getNome()</h3>
                    </a>
                </div>

                <div class="video-botoes">
                    <iframe class="frame" src="https://www.youtube.com/embed/$aula.getLink()" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                    <button type="button" id="botao-voltar" class="btn btn-secondary">Aula Anterior</button>
                    <button type="button" id="botao-avancar" class="btn btn-success">Próxima Aula</button>
                </div>
        </nav>

        <section id="secao-perguntas">
            <div id="h2-area-perg">
                <h2>Área de Perguntas e Respostas</h2>

                <form id="area-perguntar">
                    <input type="text" class="form-control" id="input-pergunta" required
                        placeholder="Faça sua pergunta">
                    <button type="button" id="botao-enviar-pergunta" class="btn btn-primary">Enviar</button>
                </form>

            <nav id="perguntas-da-aula">
                #foreach($pergunta in $perguntas)
                <div id="descricao">
                <h1>$pergunta.getDescricao()</h1>
                </div>
                #end
                </nav>
            </div>

            <div id="tela"></div>
        </section>
    </main>


    <footer>
        <nav class="redes-sociais-rodape itens-rodape">
            <h4>Redes Sociais</h4>
            <nav>
                <a class="texto-itens-rodape" href="#">
                    <i class="fa-brands fa-square-facebook fa-2xl"></i>
                    <i class="fa-brands fa-square-twitter fa-2xl"></i>
                    <i class="fa-brands fa-square-instagram fa-2xl"></i>
                </a>
            </nav>
        </nav>

        <nav class="links-rodape itens-rodape">
            <h4 class="titulo-links">Institucional</h4>
            <nav class="conteudo-itens-rodape">
                <div class="texto-itens-rodape links-politicas">
                    <a class="ancoras" href="/central-ajuda/central_ajuda.html">
                        <p>Central de <br> Ajuda</p>
                    </a>
                    <a class="ancoras" href="#">
                        <p>Termos</p>
                    </a>
                    <a class="ancoras" href="#"></a>
                    <p>Política de <br> Privacidade</p></a>
                </div>
            </nav>
        </nav>

        <div class="copyright-rodape">
            <p>© 2007-2023 learnify.com</p>
        </div>
    </footer>

    <script>
        //aparecer secao de responder
        $(document).ready(function () {
            $('#secao-responder').hide();

            $(document).on('click', '.botao-responder', function () {
                $('#secao-responder').show();
            });

            $(document).on('click', '.botao-responder', function () {
                $('#secao-responder').animate({ width: "100%", height: "100%" });
            });

            $(document).on('click', '#botao-voltar-resposta, #botao-enviar-resposta', function () {
                $('#secao-responder').animate({ width: "0", height: "0" });
            });

            $(document).keypress(function (e) {
                if (e.which == 13) {
                    $('#secao-responder').animate({ width: "0", height: "0" });
                }
            });
        });
    </script>

    <script>
        // Verificar se o usuário está logado
        if (localStorage.getItem("isLoggedIn") === "true") {
            // Usuário está logado, atualizar cabeçalho para "Monte seu Curso"
            var loginLi = document.getElementById("loginLi");
            loginLi.style.display = "none";

            var accountLi = document.getElementById("accountLi");
            accountLi.style.display = "block";

            var accountLink = document.getElementById("accountLink");
            accountLink.innerHTML = '<i class="fas fa-user"></i> Monte seu Curso';
            accountLink.href = "/pagina-montar-curso/montar_curso.html";

            var logoutLi = document.getElementById("logoutLi");
            logoutLi.style.display = "block";
        }

        // Função de logout
        function logout() {
            // Limpar indicador de login no LocalStorage
            localStorage.removeItem("isLoggedIn");

            // Redirecionar para a página de login
            window.location.href = "../login/login.html";
        }
    </script>
</body>

</html>